.font-family {
  font-family: "Hind Madurai", sans-serif;
  max-width: 1920px;
}


.log-text{
    line-height: 1;
}
.btn-background{
  background-color: rgba(65, 255, 107, 0.1);
}
.call-btn{
  width: 47%;
  background-color: #00A63E;
  color: white;
}

/* .call-btn:hover{
    background-color: gray;
  color: white;
} */
.copy-btn{
  width: 47%;
}

.category{
  display: flex !important; 
  /* background-color: gray;
  padding: 5px 10px;
  border-radius: 20px; */
}

.main-container{
  display: grid;
  grid-template-areas: "cart-section history-section";
  grid-template-columns: 3fr 1fr;
  gap:20px;
}

.historyes{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
  background-color: #FAFAFA;
  border-radius: 10px;
  margin-bottom: 10px;
}

.historyes div p {
  font-size: 18px;
}

.historyes p {
  font-size: 18px;
}


@media (max-width: 768px) {
    .main-container {
      grid-template-areas:
        "cart-section" 
        "history-section";
      grid-template-columns: 1fr;
    }

    .nav-bar{
      display: block;
      margin-bottom: -10px;
      margin-top: 10px;
    }
    .nav-text{
      justify-content: space-between;
    }
    .cart{
      padding: 20px;
    }
    .parent-cart{
      width: 100%;
    }
    .history-cart{
      width: 100%;
    }
  }
